@font-face {
    font-family: 'Niconne';
    font-style: normal;
    font-weight: 400;
    src: local('Niconne'), local('Niconne-Regular'), url('../fonts/7y6M8DdcKDIbmnqOPLrL_1KPGs1ZzpMvnHX-7fPOuAc.woff2') format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Niconne';
    font-style: normal;
    font-weight: 400;
    src: local('Niconne'), local('Niconne-Regular'), url('../fonts/h93Klz8V5_6KNFvbXz0TaQLUuEpTyoUstqEm5AMlJo4.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background:  #104f70 url('../img/tatry.jpg') no-repeat center center fixed; 
}
body {
    background: none;
}
.row {
    margin-right: 0;
    margin-left: 0;
    margin-top: 15px;
    background: #fff;
}
.row.attractions {
    padding-bottom: 20px;
}
h1 {
    font-weight: bold;
    color: #f7941d;
    padding-left: 20px;
}
h1 span {
    font-weight: normal;
    color: #104f70;
}
.list-group {
    margin-bottom: 0;
}
.thumbnail {
    margin-bottom: 0;
    border: 0;
}
.thumbnail .caption h3 {
    text-transform: uppercase;
    color: #f7941d;
    font-weight: bold;
}
.thumbnail .caption p {
    color: #104f70;
    font-size: 18px;
}
.thumbnail .caption h3 span {
    color: #104f70;
    display: block;
    font-weight: normal;
}
.contact {
    background-image: url('../img/willa_aziza_kontakt_tlo.jpg');
    background-repeat: no-repeat;
    background-color:  #f7941d;
    height: 400px;
    margin-top: 0;
}
.contact .head {
    padding-left: 0;
}
.contact h1 {
    color: #fff;
    padding-left: 0;
    font-weight: normal;
}
.contact .form-control {
    border-radius: 0;
    border: none;
    box-shadow: none;
}
.contact .form-control:focus {
    box-shadow: none;
}
.contact .col-sm-5,
.contact .col-sm-6,
.contact .col-sm-7 {
    padding-left: 0;
}
.contact .control-label {
    background-color: #fff;
    padding: 7px 12px;
}
.contact .submit input {
    background: #104f70;
    color: #fff;
}
.popover-content {
    color: #f7941d;
}
#map {
    height: 810px;
    width: 100%;
}
default.row {
    padding-bottom: 20px;
}
.default .list-group {
    margin-bottom: 0;
}
.default .jumbotron {
    background-color: #fff;
}
.galleries.row {
    padding-bottom: 50px;
}
.gallery.row {
    padding-bottom: 50px;
}
.gallery .thumbnail {
    margin-top: 30px;
}
header .navbar-default {
    background-color: transparent;
    border-color: #f7941d;
    border-width: 0 0 2px 0;
    margin-top: 20px;
}
header .navbar-collapse {
    padding: 0;
}
header .nav.navbar-nav>li>a {
    color: #fff;
    padding: 30px 15px 0px 10px;
    font-size: 20px;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
}
a.logo {
    font-family: 'Niconne', cursive;
    font-size: 45px;
    padding: 15px 15px 0 0;
    text-transform: none;
    color: #fff;
}
a.logo:focus,
a.logo:hover {
    text-decoration: none;
}
a.logo.active {
    color: #f7941d;
}

header .nav.navbar-nav>li.active>a,
header .nav.navbar-nav>li.active>a:focus,
header .nav.navbar-nav>li.active>a:hover {
    color: #f7941d;
    cursor: default;
    background-color: transparent;
    border: none;
    border-bottom-color: transparent;
}
header .navbar-default .navbar-nav>li>a:focus,
header .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
header .navbar-right .fb {
    padding-top: 25px;
}
footer .navbar-default {
    background: #104f70;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 15px;
}
footer .navbar-default .navbar-nav>li>a {
    color: #f7941d;
}
footer .navbar-default .navbar-nav>li>a:hover {
    color: #f7941d;
    text-decoration: underline;
}
footer .navbar-default .navbar-nav>.active>a,
footer .navbar-default .navbar-nav>.active>a:focus,
footer .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
    opacity: 1;
}
.carousel-control img {
    position: relative;
    top: 40%;
}
.carousel-control.left img {
    right: 90px;
}
.carousel-control.right img {
    left: 90px;
}
@media screen and (max-width: 1248px) {
    .carousel-control.left img {
        right: 20px;
    }
    .carousel-control.right img {
        left: 20px;
    }
}
@media screen and (max-width: 991px) {
    html {
        background:  #104f70;
    }
    .carousel-control img {
        top: 95px;
    }
    header .nav.navbar-nav>li>a {
        padding: 30px 0px 0px 10px;
        font-size: 15px;
    }
    footer .collapse.navbar-collapse {
        text-align: center;
    }
    .navbar-nav {
        float: none;
    }
    footer .navbar-nav>li {
        float: none;
        display: inline-block;
    }
}
@media screen and (max-width: 767px) {
    header .nav.navbar-nav>li>a {
        padding: 15px;
    }
    .navbar-nav {
        margin: 7.5px 4px;
    }
    a.logo {
        padding: 15px 15px 0 8px;
    }
    .form-horizontal .form-group {
        padding-left: 15px;
    }
    .contact {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: #104f70;
    }
    .contact h1 {
        padding-left: 10px;
    }
    .contact .control-label {
        float: left;
        width: 25%;
    }
    .contact .submit input {
        background: #f7941d;
    }
    .contact .col-sm-6 {
        float: left;
        width: 75%;
    }
    .contact .col-sm-offset-9.col-sm-2 {
        padding-left: 0;
    }
    .row {
        margin-bottom: 15px;
    }
    .thumbnail .caption h3 span {
        display: inline;
    }
    header .navbar-right .fb {
        padding-top: 0;
        padding-left: 11px;
        padding-bottom: 15px;
    }
    .carousel-control img,
    footer {
        display: none;
        visibility: hidden;
    }
}
