{% extends 'auth_base.html.twig' %}
{% block title %}{{ parent() }} - Zdjęcie w tle{% endblock %}
{% block body %}
    <h1>Edytuj zdjęcie w tle</h1>
    <div class="well">
        <ul class="nav nav-pills">
            <li role="presentation">
                <a href="{{ path('admin_gallery_photos', {'id': gallery.id}) }}">Zarządzaj zdjęciami tej galerii</a>
            </li>
        </ul>
    </div>
    {{ form(form, {'attr': {'class': 'form-horizontal', 'action': path('admin_gallery_edit', {'id': gallery.id}), 'novalidate': 'novalidate'}}) }}
    {% if (mainPhoto) %}
        <img src="{{ asset('bundles/app/img/rest/'~bgPhoto) }}" />
    {% endif %}
{% endblock %}