{% extends 'base.html.twig' %}
{% block body %}
    {% include 'carousel.html.twig' %}
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Komfortowe <span>pokoje</span></h3>
                </div>
                <img src="{{ asset('bundles/app/img/section/'~roomsFileName) }}" alt="Willa Aziza - komfortowe pokoje" />
                <div class="caption">
                    <p>Do Państwa dyspozycji oddajemy pokoje z widokiem na góry oraz apartament na poddaszu.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Urokliwa <span>okolica</span></h3>
                </div>
                <img src="{{ asset('bundles/app/img/section/'~sorroundingsFileName) }}" alt="Willa Aziza - urokliwa okolica" />
                <div class="caption">
                    <p>Wszystkie pokoje z łazienkami z prysznicem. Bezpłatne WI-FI na terenie całej willi Aziza.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Dogodna <span>lokalizacja</span></h3>
                </div>
                <img src="{{ asset('bundles/app/img/section/'~localizationFileName) }}" alt="Willa Aziza - dogodna lokalizacja" />
                <div class="caption">
                    <p>W apartamencie na poddaszu dodatkowo aneks kuchenny i część wypoczynkowa.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
